<header>
  <div class="mozilla_container">
    <div class="container">
      <div class="logo">
        <a href="https://www.mozilla.org" rel="external" title="Visit mozilla.org" target="_blank">Mozilla</a>
      </div>
      <div class="nav-mozilla site-nav">
        <span class="toggle" role="button" aria-controls="nav-mozilla-menu" aria-expanded="false" tabindex="0">Menu</span>
        <ul class="nav-mozilla-menu" id="nav-mozilla-menu">
          <li class="nav-global-health"><a href="https://www.mozilla.org/internet-health/" rel="external" target="_blank">Internet Health</a></li>
          <li class="nav-global-tech"><a href="https://www.mozilla.org/technology/" rel="external" target="_blank">Technology</a></li>
          <li class="nav-global-donate"><a href="https://donate.mozilla.org/" rel="external" target="_blank">Give</a></li>
          <li class="nav-global-firefox"><a href="https://www.mozilla.org/firefox/?utm_source=blog.mozilla.org&amp;utm_medium=referral&amp;utm_campaign=blog-nav" rel="external" target="_blank">Discover Firefox</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="mx_container">
  <div class="container">
    <h1 id="site-title">Mozilla México</h1>
    <div class="content">
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi laborum molestias est distinctio accusantium molestiae.</h2>
    </div>
  </div>
  <div class="nav-mozilla-mexico">
    <div class="container">
      <div class="nav-mozilla-mexico">
        <ul class="nav-mozilla-mexico-menu" id="nav-mozilla-mexico-menu">
          <li ><a href="#" rel="external" target="_blank">Inicio</a></li>
          <li><a href="https://www.mozilla.org/technology/" rel="external" target="_blank">Chat</a></li>
          <li><a href="http://www.mozilla-mexico.org/firefox-en-lenguas-indigenas/" rel="external" target="_blank">Firefox en lenguas indígenas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
